In [1]:
 

import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
 
import numpy as np

import os

In [2]:
data=pd.read_csv('sales_data.csv')

In [3]:
data.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

In [4]:
 
 

# Étape 2 : Nettoyer les valeurs
data['category'] = data['category'].str.lower()  # Mettre en minuscules
data['product'] = data['product'].str.replace('[^\w\s]', '')  # Supprimer caractères spéciaux

# Étape 3 : Formater les données
data['price'] = data['price'].astype(float)  # Convertir le prix en flottant

# Étape 4 : Enregistrer le DataFrame nettoyé dans un nouveau fichier CSV
data.to_csv('fichier_nettoye.csv', index=False)

In [5]:
data2=pd.read_csv('fichier_nettoye.csv')

In [6]:
data2.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     clothing    20.0      25.0    500.0

In [7]:
data2.describe()

             price    quantity      revenue
count   367.000000  368.000000   368.000000
mean    211.226158   14.565217  2060.679348
std     227.335170    8.595740  1910.930790
min      20.000000    3.000000   300.000000
25%      50.000000    8.000000   800.000000
50%     100.000000   12.000000  1200.000000
75%     300.000000   20.000000  2400.000000
max    1200.000000   50.000000  7200.000000

In [8]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [10]:
# Calculer le revenu pour chaque vente (prix * quantité)
data2['revenue'] = data2['price'] * data2['quantity']

In [13]:
# Calculer le chiffre d'affaires total pour l'année
chiffre_affaires_total = data2['revenue'].sum()

In [14]:
print("Le chiffre d'affaires total généré par l'entreprise au cours de l'année est : ", chiffre_affaires_total)

Le chiffre d'affaires total généré par l'entreprise au cours de l'année est :  750430.0

In [15]:
 

# Calculer le revenu pour chaque vente (prix * quantité)
data2['revenue'] = data2['price'] * data2['quantity']

# Trouver le produit avec le revenu le plus élevé
produit_revenu_max = data.loc[data2['revenue'].idxmax()]

# Récupérer le nom du produit et le revenu le plus élevé
produit_max = produit_revenu_max['product']
revenu_max = produit_revenu_max['revenue']

print("Le produit qui a généré les revenus les plus élevés est :", produit_max)
print("Il a généré un revenu de :", revenu_max)

Le produit qui a généré les revenus les plus élevés est : Smartphone
Il a généré un revenu de : 7200.0

In [16]:
 

# Calculer le prix moyen d'un produit vendu
prix_moyen = data2['price'].mean()

print("Le prix moyen d'un produit vendu par l'entreprise est :", prix_moyen)

Le prix moyen d'un produit vendu par l'entreprise est : 211.22615803814713

In [17]:
 
 

# Calculer la quantité totale de produits vendus
quantite_totale = data2['quantity'].sum()

print("La quantité totale de produits vendus par l'entreprise est :", quantite_totale)

La quantité totale de produits vendus par l'entreprise est : 5360.0

In [18]:
 

# Calculer le revenu pour chaque vente (prix * quantité)
data2['revenue'] = data2['price'] * data2['quantity']

# Regrouper par catégorie et calculer les revenus par catégorie
revenus_par_categorie = data2.groupby('category')['revenue'].sum()

# Trouver la catégorie avec le revenu le plus élevé
categorie_revenu_max = revenus_par_categorie.idxmax()
revenu_max = revenus_par_categorie.max()

print("La catégorie qui a généré les revenus les plus élevés est :", categorie_revenu_max)
print("Elle a généré un revenu de :", revenu_max)

La catégorie qui a généré les revenus les plus élevés est : electronics
Elle a généré un revenu de : 509480.0

In [19]:
 

# Calculer le revenu pour chaque vente (prix * quantité)
data2['revenue'] = data2['price'] * data2['quantity']

# Calculer le revenu moyen par vente
revenu_moyen_par_vente = data2['revenue'].mean()

print("Le revenu moyen par vente est :", revenu_moyen_par_vente)

Le revenu moyen par vente est : 2050.3551912568305

In [20]:
 

# Calculer le revenu pour chaque vente (prix * quantité)
data2['revenue'] = data2['price'] * data2['quantity']

# Convertir la colonne de date en type datetime
data2['date'] = pd.to_datetime(data2['date'])

# Extraire le trimestre pour chaque vente
data2['quarter'] = data2['date'].dt.to_period('Q')

# Regrouper par trimestre et calculer les revenus par trimestre
revenus_par_trimestre = data2.groupby('quarter')['revenue'].sum()

print("Chiffre d'affaires par trimestre :")
print(revenus_par_trimestre)

Chiffre d'affaires par trimestre :
quarter
2022Q1    182100.0
2022Q2    179370.0
2022Q3    195430.0
2022Q4    193530.0
Freq: Q-DEC, Name: revenue, dtype: float64